*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(33, 29, 29);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 150px;
    height: 70px;
    
}
.menus{
    display: flex;
}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;

}
.item:hover{
    background-color: blue;
}
.banner-img{
    width: 300px;
    
}
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
   /* border: 2px solid grey;*/
    background-image: url("image/5.png"),
    linear-gradient(45deg,#090909,#181616);
     color: white;
    
    }

    .title{
        font-size: 40px;
        font-weight: bold;
    }
    .desh{
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .buttton-point {
        padding: 8px 7px;
        background-color: red;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.15s, 
        color 0.15s;
    }
    .buttton-point:hover{
        background-color: black;
        color: red;
    }
    .img-banner {
        width: 350px;
    }
    .about-container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row-reverse;
        padding: 25px;
    }
    .hello{
        text-align: center;
        padding-top: 20px;
        font-size: 40px;
        

    }
    .para-one{
        font-size: 20px;
        margin-bottom: 10px;;
        
    }